%h1.add-menu-item-header Add Menu Item
%form{action: "/login/admin_dashboard/menu/add_menu_item", method: "POST"}
  %input{name: 'menu[name]', type: 'text', placeholder: "Item Name"}
  %br
  %textarea{name: 'menu[ingredients]', placeholder: "Item Ingredients"}
  %br
  %input{name: 'menu[price]', type: 'text', placeholder: "Price"}
    %input{type: 'submit', value: 'add'}
