%html
  %head
    %script{src: "http://static.dudamobile.com/DM_redirect.js", type: "text/javascript"}
    :javascript
      DM_redirect("http://mobile.dudamobile.com/site/cafecoloredenver");
    %title Cafe Colore
    %meta{content: "text/html; charset=US-ASCII", "http-equiv" => "Content-Type"}/
    %link{href: "Styles1.css", rel: "stylesheet", type: "text/css"}/
    %script{language: "JavaScript"}
      :cdata
        <!--
        function MM_preloadImages() { //v3.0
        var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
        var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
        if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
        }

        function MM_swapImgRestore() { //v3.0
        var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
        }

        function MM_findObj(n, d) { //v4.0
        var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
        d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
        if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
        for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
        if(!x && document.getElementById) x=document.getElementById(n); return x;
        }

        function MM_swapImage() { //v3.0
        var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
        if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
        }
        \//-->
    %meta{content: "Cafe Colore, Denver, Cafes, Italian Bistros Denver, Denver Italian Bistros, Good Food, Colore Good Food, Cute Italian Bistros in Denver, Denver Cute Bistros", name: "keywords"}/
    %meta{content: "Welcome to Cafe Colore, a cute Italian Bistro right in the heart of Denver's LoDo district. Come enjoy some of Denvers finest Bistro style cuisine!", name: "description"}/
  %body{bgcolor: "#999999", leftmargin: "0", marginheight: "0", marginwidth: "0", onload: "MM_preloadImages('images/Colore_Main2_MO_06.gif','images/Colore_Main2_MO_08.gif','images/Colore_Main2_MO_09.gif','images/Colore_Main2_MO_10.gif','images/Colore_Main2_MO_11.gif')", text: "#000000", topmargin: "0"}
    %div{align: "center"}
      %font{color: "#999999", size: "1"}
        cafe colore cafe colore denver bistro denver bistro cafe
        colore cafe colore cafe colore cafe colore cafe colore cafe colore cafe colore
        cafe colore cafe colore cafe colore cafe colore
      %br/
      %table{bgcolor: "#000000", border: "0", cellpadding: "0", cellspacing: "1"}
        %tr
          %td{height: "548", valign: "top"}
            %table{border: "0", cellpadding: "0", cellspacing: "0"}
              %tr
                %td{bgcolor: "#FFFFFF", height: "20", valign: "top"}  
              %tr
                %td{bgcolor: "#FFFFFF", valign: "top"}
                  %img{height: "250", name: "top", src: "images/Colore_Main2_03.jpg", width: "750"}/
              %tr
                %td{height: "282", valign: "top"}
                  %table{border: "0", cellpadding: "0", cellspacing: "0", width: "100%"}
                    %tr{valign: "top"}
                      %td{height: "149", width: "184"}
                        %table{border: "0", cellpadding: "0", cellspacing: "0", width: "28%"}
                          %tr
                            %td{bgcolor: "#FFFFFF", valign: "top"}
                              %img{height: "210", name: "left", src: "images/Colore_Main2_05.gif", width: "184"}/
                      %td{height: "149", width: "63"}
                        %table{border: "0", cellpadding: "0", cellspacing: "0", width: "13%"}
                          %tr
                            %td{bgcolor: "#FFFFFF", valign: "top"}
                              %a{href: "restaurant"}
                                %img{border: "0", height: "36", name: "b1", onmouseout: "MM_swapImgRestore()", onmouseover: "MM_swapImage('b1','','images/Colore_Main2_MO_06.gif',1)", src: "images/Colore_Main2_06.gif", width: "94"}/
                          %tr
                            %td{bgcolor: "#FFFFFF", valign: "top"}
                              %a{href: "catering"}
                                %img{border: "0", height: "34", name: "b2", onmouseout: "MM_swapImgRestore()", onmouseover: "MM_swapImage('b2','','images/Colore_Main2_MO_08.gif',1)", src: "images/Colore_Main2_08.gif", width: "94"}/
                          %tr
                            %td{bgcolor: "#FFFFFF", valign: "top"}
                              %a{href: "menu_dinner"}
                                %img{border: "0", height: "29", name: "b3", onmouseout: "MM_swapImgRestore()", onmouseover: "MM_swapImage('b3','','images/Colore_Main2_MO_09.gif',1)", src: "images/Colore_Main2_09.gif", width: "94"}/
                          %tr
                            %td{bgcolor: "#FFFFFF", valign: "top"}
                              %a{href: "location"}
                                %img{border: "0", height: "33", name: "b4", onmouseout: "MM_swapImgRestore()", onmouseover: "MM_swapImage('b4','','images/Colore_Main2_MO_10.gif',1)", src: "images/Colore_Main2_10.gif", width: "94"}/
                          %tr
                            %td{bgcolor: "#FFFFFF", valign: "top"}
                              %a{href: "specialties"}
                                %img{border: "0", height: "36", name: "b5", onmouseout: "MM_swapImgRestore()", onmouseover: "MM_swapImage('b5','','images/Colore_Main2_MO_11.gif',1)", src: "images/Colore_Main2_11.gif", width: "94"}/
                          %tr
                            %td{bgcolor: "#FFFFFF"}
                              %img{height: "42", name: "line", src: "images/Colore_Main2_12.gif", width: "94"}/
                      %td{bgcolor: "#FFFFFF", height: "149", valign: "top", width: "399"}
                        %table{border: "0", cellpadding: "0", cellspacing: "0", width: "100%"}
                          %tr
                            %td{bgcolor: "#FFFFFF", height: "2", valign: "top"}
                              %img{height: "210", name: "right", src: "images/Colore_Main2_07.gif", width: "472"}/
                    %tr{bgcolor: "#FFFFFF", valign: "top"}
                      %td{height: "20", width: "184"}  
                      %td{height: "20", width: "63"}  
                      %td{height: "20", width: "399"}
                        %p.Body_text{align: "left", style: "margin-top: 0; margin-bottom: 0"}
                          \                Cafe Colore
                          %br/
                          1512 Larimer St., R12, Denver, CO 80202
                          %br/
                          \             tel - 303-534-6844
                        %p{align: "left", style: "margin-top: 0; margin-bottom: 0;"}
                          %span.Body_text
                            \       Hours: Monday-Thursday 11-9
                            %br/
                            \  Friday & Saturday 11-10 Sunday 11-8
                          %br/
                    %tr{bgcolor: "#C9D4BF", valign: "top"}
                      %td{align: "center", height: "2", width: "184"}
                        %br/
                        %br/
                        %br/
                        %br/
                        %br/
                        %br/
                      %td{height: "2", width: "63"}  
                      %td{height: "2", width: "399"}  
    %center
      %table
        %tr
          %td
            %script{src: "http://www.opentable.com/frontdoor/default.aspx?rid=68641&restref=68641&hover=1", type: "text/javascript"}
            %a.OT_ExtLink{href: "http://www.opentable.com/single.aspx?rid=68641&restref=68641"} Cafe Colore Reservations
          %td      
          %td
            %div{align: "center"}
              %a{href: "http://onelink.quickgifts.com/merchant/cafe-colore/", target: "_blank"}
                %font{color: "black", face: "arial"}
                  %b Cafe Colore Gift Cards Available
            %div{align: "center"}
              %a{href: "http://onelink.quickgifts.com/merchant/cafe-colore/", target: "_blank"}
                %img{alt: "Gift Cards", height: "156", src: "http://onelink.quickgifts.com/images/QG_Generic_FB_Image_GIFTCARD_NEW.jpg", width: "250"}/
            %div{align: "center"}
              %a{href: "http://onelink.quickgifts.com/merchant/cafe-colore/", target: "_blank"}
                %font{color: "black", face: "arial"}
                  %b CLICK HERE to purchase
    %a{href: "/login"} Login Here
