%html
  %head
    %title Cafe Colore
    %meta{:content => "Cafe Colore, Denver, Cafes, Italian Bistros Denver, Denver Italian Bistros, Good Food, Colore Good Food, Cute Italian Bistros in Denver, Denver Cute Bistros", :name => "keywords"}
    %meta{:content => "Welcome to Cafe Colore, a cute Italian Bistro right in the heart of Denver's LoDo district. Come enjoy some of Denvers fAinest Bistro style cuisine!", :name => "description"}
  %body= yield