%html
  %head
    %title Location
    %meta{:content => "text/html; charset=iso-8859-1", "http-equiv" => "Content-Type"}
      %script{:language => "JavaScript"}
        /
          function MM_preloadImages() { //v3.0
          var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
          var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
          if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
          }

          function MM_swapImgRestore() { //v3.0
          var i,x,a=document.MM_sr; for(i=0;a&amp;&amp;i<a.length&amp;&amp;(x=a[i])&amp;&amp;x.oSrc;i++) x.src=x.oSrc;
          }

          function MM_findObj(n, d) { //v4.0
          var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&amp;&amp;parent.frames.length) {
          d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
          if(!(x=d[n])&amp;&amp;d.all) x=d.all[n]; for (i=0;!x&amp;&amp;i<d.forms.length;i++) x=d.forms[i][n];
          for(i=0;!x&amp;&amp;d.layers&amp;&amp;i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
          if(!x &amp;&amp; document.getElementById) x=document.getElementById(n); return x;
          }

          function MM_swapImage() { //v3.0
          var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
          if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
          }
          \//
      %link{:href => "Styles1.css", :rel => "stylesheet", :type => "text/css"}
        :css
            %body{:bgcolor => "#999999", :leftmargin => "0", :marginheight => "0", :marginwidth => "0", :onLoad => "MM_preloadImages('images/Colore_Inside_MO_05.gif','images/Colore_Inside_MO_08.gif','images/Colore_Inside_MO_10.gif','images/Colore_Inside_MO_07.gif')", :text => "#000000", :topmargin => "0"}
    %div{:align => "center"}
      %br
        %table{:bgcolor => "#000000", :border => "0", :cellpadding => "0", :cellspacing => "1", :width => "750"}
          %tr
            %td{:height => "495", :valign => "top"}
              %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                %tr
                  %td{:bgcolor => "#FFFFFF", :valign => "top"}
                    %img{:height => "125", :src => "images/Colore_Inside_Location_02.jpg", :width => "750"}/
                %tr
                  %td{:height => "101", :valign => "top"}
                    %table{:bgcolor => "#FFFFFF", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                      %tr{:valign => "top"}
                        %td{:width => "26%"}
                          %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                            %tr
                              %td{:valign => "top"}
                                %img{:border => "0", :height => "199", :name => "left", :src => "images/Colore_Inside_04.gif", :usemap => "#leftMap", :width => "198"}/
                        %td{:width => "2%"}
                          %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                            %tr
                              %td{:valign => "top"}
                                %a{:href => "restaurant"}
                                  %img{:border => "0", :height => "45", :name => "b1", :onMouseOut => "MM_swapImgRestore()", :onMouseOver => "MM_swapImage('b1','','images/Colore_Inside_MO_05.gif',1)", :src => "images/Colore_Inside_05.gif", :width => "73"}/
                            %tr
                              %td{:valign => "top"}
                                %a{:href => "catering"}
                                  %img{:border => "0", :height => "32", :name => "b2", :onMouseOut => "MM_swapImgRestore()", :onMouseOver => "MM_swapImage('b2','','images/Colore_Inside_MO_07.gif',1)", :src => "images/Colore_Inside_07.gif", :width => "73"}/
                            %tr
                              %td{:valign => "top"}
                                %a{:href => "menu_dinner"}
                                  %img{:border => "0", :height => "32", :name => "b3", :onMouseOut => "MM_swapImgRestore()", :onMouseOver => "MM_swapImage('b3','','images/Colore_Inside_MO_08.gif',1)", :src => "images/Colore_Inside_08.gif", :width => "73"}/
                            %tr
                              %td{:valign => "top"}
                                %img{:height => "32", :name => "b4", :src => "images/Colore_Inside_MO_09.gif", :width => "73"}/
                            %tr
                              %td{:valign => "top"}
                                %a{:href => "specialties"}
                                  %img{:border => "0", :height => "58", :name => "b5", :onMouseOut => "MM_swapImgRestore()", :onMouseOver => "MM_swapImage('b5','','images/Colore_Inside_MO_10.gif',1)", :src => "images/Colore_Inside_10.gif", :width => "73"}/
                        %td{:width => "72%"}
                          %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                            %tr
                              %td{:valign => "top"}
                                %img{:height => "198", :src => "images/Colore_Inside_Location_06.gif", :width => "479"}/
                %tr
                  %td{:bgcolor => "#FFFFFF", :height => "208", :valign => "top"}
                    %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :height => "240", :width => "100%"}
                      %tr{:bgcolor => "#FFFFFF", :valign => "top"}
                        %td{:bgcolor => "#C9D4BF", :height => "279", :width => "210"} &nbsp;
                        %td{:height => "279", :width => "441"}
                          %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                            %tr{:valign => "top"}
                              %td{:width => "14%"} &nbsp;
                              %td.Body_text{:width => "71%"} &nbsp;
                              %td.Menu_text{:width => "15%"} &nbsp;
                            %tr{:valign => "top"}
                              %td{:height => "194", :width => "14%"} &nbsp;
                              %td.Body_text{:height => "194", :width => "71%"}
                                %b.Menu_text
                                  Cafe
                                  Colore
                                is located in the beautiful city of Denver
                                in the Lower Downtown area or &quot;Lodo&quot; to which
                                it is referred by locals.
                                %br
                                  %br
                                    Being a sub-section of Denver's downtown, &quot;Lodo&quot;
                                    is home to a mix of people, all of whom can find what
                                    they desire in this culturally savvy and artsy district.
                                    %br
                                      %br
                                        \&quot;Lodo&quot; is a perfect backdrop for Cafe Colore's
                                        audience, from young to old. The menu bosts a fantastic
                                        selection and it isn't a wonder why many people enjoy
                                        the gourmet style, Italian Cafe.
                                        %br
                                          %br
                                            %div{:align => "center"}
                                              %a{:href => "http://onelink.quickgifts.com/merchant/cafe-colore/", :target => "_blank"}
                                                %font{:color => "black"}
                                                  %b CLICK HERE to purchase Gift Cards
                                            %div{:align => "center"}
                                              %a{:href => "http://onelink.quickgifts.com/merchant/cafe-colore/", :target => "_blank"}
                                                %img{:alt => "Gift Cards", :height => "78", :src => "http://onelink.quickgifts.com/images/QG_Generic_FB_Image_GIFTCARD_NEW.jpg", :width => "125"}/
                                            /
                                              \-If you wish to contact our cafe please do so at:<br>                        </td>
                                              <td width="15%" class="Menu_text" height="194">&amp;nbsp;</td>
                                              </tr>
                                              <tr valign="top">
                                              <td width="14%">&amp;nbsp;</td>
                                              <td width="71%"><img src="images/inv_1.gif" width="10" height="50"></td>
                                              <td width="15%">&amp;nbsp;</td>
                                              </tr>
                                              <tr valign="top">
                                              <td width="14%">&amp;nbsp;</td>-
                                            %td.Body_text{:width => "71%"}
                                              %div{:align => "center"}
                                                Cafe
                                                Colore
                                                %br
                                                  1512 Larimer St., R12, Denver, CO 80202
                                                  %br
                                                    tel - 303-534-6844
                                                    %br
                                                      :javascript
                                                        /*  */
                                                        function hivelogic_enkoder(){var kode=
                                                        "kode=\"nrgh@%rnhg_%@uqkj(Cxtnm+Ftxmn+emFlxv~wn7}{\\000}rene+jeq1nE)b{Feeeo"+
                                                        "eej+eevurx}tCrnq}lIojlnux{xmnwnn\\1777{xeevleeeer)+e}u}Feeeneev+eeNrj)unT}"+
                                                        "eeqreeeenG+et}rIqjlnoxlxun{nm\\177w{nl7vx8EGj2+eee+e\\001D0DDFx01oF{DrE9tr"+
                                                        "m17xnnpuqw:}D642;r__F3324\\0014Ftxmn7lqj{J}1r4:24txmn7lqj{J}1r2bt66m6Fx4nr"+
                                                        "\\001t1mE7xnnpuqwt}mH7xqn{l}jtJm17xnnpuqw:}C602D0+2\\001D0FD0xo1{FrD9Ert1m"+
                                                        "x7nnupwq}:6D24r;F__233\\0014F4xtnml7jqJ{1}4r2:t4mx7nql{j}Jr1b266t6mxFn4\\0"+
                                                        "01r1tEmx7nnupwq}tHmx7nql{j}Jt1mx7nnupwq}:6C200D2A(C~--lAxuo.6CoAqBju4kkrmt"+
                                                        "nzoA11\\001/Ciuqkji4gnIxjuGk.z/o93oA.lBi/61i7C>8~AC1zYoxmtl4uxIsgnIxju.k/i"+
                                                        "3__33uqkj~C>_%@{**i>url+3@l>n?gr1hhojqkwl>..~,@frnhgf1dkFugrDh+w,l60l>+i?f"+
                                                        ",3.f4@;5{>@.wVlujqi1ruFpdkFugr+h,fn\\000gr@h{%>{@**>iru+l@3>l?+nrgh1ohqjwk"+
                                                        "04,>l.@5,~{.@nrgh1fkduDw+l.4,.nrgh1fkduDw+l,\\000nrgh@{.+l?nrgh1ohqjwkBnrg"+
                                                        "h1fkduDw+nrgh1ohqjwk04,=**,>\";x='';for(i=0;i<kode.length;i++){c=kode.char"+
                                                        "CodeAt(i)-3;if(c<0)c+=128;x+=String.fromCharCode(c)}kode=x"
                                                        ;var i,c,x;while(eval(kode));}hivelogic_enkoder();
                                                        /*  */
                                            %td{:width => "15%"} &nbsp;
                            %tr{:valign => "top"}
                              %td{:width => "14%"} &nbsp;
                              %td{:width => "71%"}
                                %img{:height => "25", :src => "images/inv_1.gif", :width => "10"}/
                              %td{:width => "15%"} &nbsp;
                        %td{:height => "279", :width => "99"}
                          %div{:align => "right"}
        %br
    %map{:name => "leftMap"}
      %area{:coords => "35,14,115,166", :href => "index", :shape => "rect", :target => "_parent"}
