%html
  %head
    %title Menu - Dinner
    %meta{:content => "text/html; charset=iso-8859-1", "http-equiv" => "Content-Type"}
      %script{:language => "JavaScript"}
        /
          function MM_preloadImages() { //v3.0
          var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
          var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
          if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
          }

          function MM_swapImgRestore() { //v3.0
          var i,x,a=document.MM_sr; for(i=0;a&amp;&amp;i<a.length&amp;&amp;(x=a[i])&amp;&amp;x.oSrc;i++) x.src=x.oSrc;
          }

          function MM_findObj(n, d) { //v4.0
          var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&amp;&amp;parent.frames.length) {
          d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
          if(!(x=d[n])&amp;&amp;d.all) x=d.all[n]; for (i=0;!x&amp;&amp;i<d.forms.length;i++) x=d.forms[i][n];
          for(i=0;!x&amp;&amp;d.layers&amp;&amp;i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
          if(!x &amp;&amp; document.getElementById) x=document.getElementById(n); return x;
          }

          function MM_swapImage() { //v3.0
          var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
          if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
          }
          \//
      %link{:href => "Styles1.css", :rel => "stylesheet", :type => "text/css"}
        :css
            %body{:bgcolor => "#999999", :leftmargin => "0", :marginheight => "0", :marginwidth => "0", :onLoad => "MM_preloadImages('images/Colore_Inside_MO_07.gif','images/Colore_Inside_MO_09.gif','images/Colore_Inside_MO_05.gif','images/Colore_Inside_MO_10.gif')", :text => "#000000", :topmargin => "0"}
    %div{:align => "center"}
      %br
        %table{:bgcolor => "#000000", :border => "0", :cellpadding => "0", :cellspacing => "1", :width => "750"}
          %tr
            %td{:height => "368", :valign => "top"}
              %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                %tr
                  %td{:bgcolor => "#FFFFFF", :valign => "top"}
                    %img{:height => "125", :name => "top", :src => "images/Colore_Inside_Menu_02.jpg", :width => "750"}/
                %tr
                  %td{:height => "101", :valign => "top"}
                    %table{:bgcolor => "#FFFFFF", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                      %tr{:valign => "top"}
                        %td{:width => "26%"}
                          %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                            %tr
                              %td{:valign => "top"}
                                %img{:border => "0", :height => "199", :name => "left", :src => "images/Colore_Inside_04.gif", :usemap => "#leftMap", :width => "198"}/
                        %td{:width => "2%"}
                          %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                            %tr
                              %td{:valign => "top"}
                                %a{:href => "restaurant"}
                                  %img{:border => "0", :height => "45", :name => "b1", :onMouseOut => "MM_swapImgRestore()", :onMouseOver => "MM_swapImage('b1','','images/Colore_Inside_MO_05.gif',1)", :src => "images/Colore_Inside_05.gif", :width => "73"}/
                            %tr
                              %td{:valign => "top"}
                                %a{:href => "catering"}
                                  %img{:border => "0", :height => "32", :name => "b2", :onMouseOut => "MM_swapImgRestore()", :onMouseOver => "MM_swapImage('b2','','images/Colore_Inside_MO_07.gif',1)", :src => "images/Colore_Inside_07.gif", :width => "73"}/
                            %tr
                              %td{:valign => "top"}
                                %img{:height => "32", :name => "b3", :src => "images/Colore_Inside_MO_08.gif", :width => "73"}/
                            %tr
                              %td{:valign => "top"}
                                %a{:href => "location"}
                                  %img{:border => "0", :height => "32", :name => "b4", :onMouseOut => "MM_swapImgRestore()", :onMouseOver => "MM_swapImage('b4','','images/Colore_Inside_MO_09.gif',1)", :src => "images/Colore_Inside_09.gif", :width => "73"}/
                            %tr
                              %td{:valign => "top"}
                                %a{:href => "specialties"}
                                  %img{:border => "0", :height => "58", :name => "b5", :onMouseOut => "MM_swapImgRestore()", :onMouseOver => "MM_swapImage('b5','','images/Colore_Inside_MO_10.gif',1)", :src => "images/Colore_Inside_10.gif", :width => "73"}/
                        %td{:width => "72%"}
                          %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                            %tr
                              %td{:valign => "top"}
                                %img{:height => "199", :name => "right", :src => "images/Colore_Inside_Menu_06.gif", :width => "479"}/
                %tr
                  %td{:bgcolor => "#FFFFFF", :height => "64", :valign => "top"}
                    %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                      %tr{:bgcolor => "#FFFFFF", :valign => "top"}
                        %td{:bgcolor => "#C9D4BF", :height => "2", :width => "210"} &nbsp;
                        %td{:height => "2", :width => "540"}
                          %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                            %tr{:valign => "top"}
                              %td{:width => "75"} &nbsp;
                              %td.Body_text{:width => "432"} &nbsp;
                              %td.Menu_text{:width => "33"} &nbsp;
                            %tr{:valign => "top"}
                              %td{:colspan => "4", :style => "width: 100%; overflow:hidden; clear:both;"}
                                #menusContainer{:style => "width: 100%; overflow:hidden; clear:both;"}
                                %script{:src => "http://menus.singleplatform.co/businesses/storefront/?apiKey=ke09z8icq4xu8uiiccighy1bw", :type => "text/javascript"}
                                :javascript
                                  var options = {};
                                  options['PrimaryBackgroundColor'] = '#fff';
                                  options['MenuDescBackgroundColor'] = '#fff';
                                  options['SectionTitleBackgroundColor'] = '#fff';
                                  options['SectionDescBackgroundColor'] = '#fff';
                                  options['FeedbackSubmitBackgroundColor'] = '#fff';
                                  options['ItemBackgroundColor'] = '#ffffff';
                                  options['FeedbackBackgroundColor'] = '#ffffff';
                                  options['FeedbackCancelBackgroundColor'] = '#ffffff';
                                  options['PrimaryFontFamily'] = 'Arial';
                                  options['BaseFontSize'] = '12px';
                                  options['FontCasing'] = 'Default';
                                  options['PrimaryFontColor'] = '#999999';
                                  options['MenuDescFontColor'] = '#999999';
                                  options['SectionTitleFontColor'] = '#999999';
                                  options['SectionDescFontColor'] = '#999999';
                                  options['FeedbackSubmitFontColor'] = '#999999';
                                  options['ItemTitleFontColor'] = '#999999';
                                  options['FeedbackFontColor'] = '#999999';
                                  options['FeedbackFieldFontColor'] = '#999999';
                                  options['FeedbackCancelFontColor'] = '#999999';
                                  options['ItemDescFontColor'] = '#999999';
                                  options['ItemPriceFontColor'] = '#999999';
                                  options['HideDisplayOptionAnnouncements'] = 'true';
                                  options['HideDisplayOptionThumbs'] = 'true';
                                  options['HideDisplayOptionPhotos'] = 'true';
                                  options['HideDisplayOptionFeedback'] = 'true';
                                  options['HideDisplayOptionDisclaimer'] = 'true';
                                  options['HideDisplayOptionClaim'] = 'true';
                                  options['HideDisplayOptionAttribution'] = 'true';
                                  new BusinessView("cafe-colore-2", "menusContainer", options);
                            %tr{:valign => "top"}
                              %td{:width => "75"} &nbsp;
                              %td{:width => "432"}
                                %img{:height => "75", :src => "images/inv_1.gif", :width => "10"}/
                              %td{:width => "33"} &nbsp;
                            %tr{:valign => "top"}
                              %td{:width => "75"} &nbsp;
                              %td.Body_text{:width => "432"}
                                %div{:align => "center"}
                                  %p{:style => "margin-top: 0; margin-bottom: 0"}
                                    Cafe
                                    Colore
                                    %br
                                      1512 Larimer St., R12, Denver, CO 80202
                                      %br
                                        tel - 303-534-6844
                                        %br
                                          email: smouser71@gmail.com
                                  %p{:style => "margin-top: 0; margin-bottom: 0;"}
                                    :javascript
                                      /*  */
                                      function hivelogic_enkoder(){var kode=
                                      "kode=\"nrgh@%rnhg_%@uqkj(Cxtnm+Ftxmn+emFlxv~wn7}{\\000}rene+jeq1nE)b{Feeeo"+
                                      "eej+eevurx}tCrnq}lIojlnux{xmnwnn\\1777{xeevleeeer)+e}u}Feeeneev+eeNrj)unT}"+
                                      "eeqreeeenG+et}rIqjlnoxlxun{nm\\177w{nl7vx8EGj2+eee+e\\001D0DDFx01oF{DrE9tr"+
                                      "m17xnnpuqw:}D642;r__F3324\\0014Ftxmn7lqj{J}1r4:24txmn7lqj{J}1r2bt66m6Fx4nr"+
                                      "\\001t1mE7xnnpuqwt}mH7xqn{l}jtJm17xnnpuqw:}C602D0+2\\001D0FD0xo1{FrD9Ert1m"+
                                      "x7nnupwq}:6D24r;F__233\\0014F4xtnml7jqJ{1}4r2:t4mx7nql{j}Jr1b266t6mxFn4\\0"+
                                      "01r1tEmx7nnupwq}tHmx7nql{j}Jt1mx7nnupwq}:6C200D2A(C~--lAxuo.6CoAqBju4kkrmt"+
                                      "nzoA11\\001/Ciuqkji4gnIxjuGk.z/o93oA.lBi/61i7C>8~AC1zYoxmtl4uxIsgnIxju.k/i"+
                                      "3__33uqkj~C>_%@{**i>url+3@l>n?gr1hhojqkwl>..~,@frnhgf1dkFugrDh+w,l60l>+i?f"+
                                      ",3.f4@;5{>@.wVlujqi1ruFpdkFugr+h,fn\\000gr@h{%>{@**>iru+l@3>l?+nrgh1ohqjwk"+
                                      "04,>l.@5,~{.@nrgh1fkduDw+l.4,.nrgh1fkduDw+l,\\000nrgh@{.+l?nrgh1ohqjwkBnrg"+
                                      "h1fkduDw+nrgh1ohqjwk04,=**,>\";x='';for(i=0;i<kode.length;i++){c=kode.char"+
                                      "CodeAt(i)-3;if(c<0)c+=128;x+=String.fromCharCode(c)}kode=x"
                                      ;var i,c,x;while(eval(kode));}hivelogic_enkoder();
                                      /*  */
                              %td{:width => "33"} &nbsp;
                            %tr{:valign => "top"}
                              %td{:width => "75"} &nbsp;
                              %td{:width => "432"}
                                %img{:height => "25", :src => "images/inv_1.gif", :width => "10"}/
                              %td{:width => "33"} &nbsp;
        %br
    %map{:name => "leftMap"}
      %area{:coords => "35,14,115,166", :href => "index", :shape => "rect", :target => "_parent"}
